body {
	background-color: black;
	color: silver;
	text-align: center;
}

button {
	width: 8rem;
	height: 2rem;
	background-color: darkorange;
	border-radius: 20px;
	font-weight: bold;
	margin: 1rem auto;
}

textarea {
	background-color: darkorange;
	color: white;
	font-size: 1rem;
	width: 20rem;
	height: 10rem;
	margin: 1rem auto;
	border-radius: 20px;
	padding: .4rem;
	box-shadow: 4px 4px 4px rgb(87, 85, 85);
}
