body {
	background-color: black;
	color: silver;
	text-align: center;
}

.hidden {
	display: none;
}

#konami {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	gap: 0;
	justify-content: center;
	align-items: center;
	background: #23316e;
	background: linear-gradient(180deg, rgba(35, 49, 110, 1) 0%, rgba(54, 90, 168, 1) 40%, rgba(255, 255, 255, 1) 100%);
}

h2 {
	font-size: 2.4rem;
	color: red;
}

p {
	font-size: 1.8rem;
	color: white;
}
