body {
	background-color: black;
	color: silver;
	text-align: center;
	min-height: 4096px;
	margin: 0;
}

button {
	width: 8rem;
	height: 2rem;
	background-color: darkorange;
	border-radius: 20px;
	font-weight: bold;
	margin: 1rem auto;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	color: black;
	font-size: 1.6rem;
	font-weight: bold;
	background: linear-gradient(to right, red 0%, green 0%);
	transition: background 0.2s;
}
