body {
	background-color: black;
	color: deeppink;
        text-align: center;
}

table {
	border-collapse: collapse;
	width: 90%;
        margin: auto;
}

th,
td {
	border: 1px solid dimgrey;
	padding: 8px;
	text-align: left;
}

th {
	background-color: deeppink;
        color: black;
}

button {
	padding: 5px 10px;
	cursor: pointer;
        background-color: deeppink;
        border-radius: 20px;
        width: 8rem;
        margin-bottom: 1rem;
}
