body {
	background: #000;
	color: #fff;
	text-align: center;
        color: palevioletred;
}

#taquin {
	width: 310px;
	height: 310px;
	margin: 2rem auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 3px;
	border: 3px solid palevioletred;
}

.tile {
	width: 100px;
	height: 100px;
	background-size: cover;
	cursor: grab;
	border: 1px solid #333;
}

.empty {
	background: #111;
	cursor: default;
}

#message {
	font-size: 1.3rem;
	margin-top: 1rem;
	height: 2rem;
}

#restart {
	margin-top: 1rem;
	padding: 0.5rem 1rem;
	background: #fff;
	color: #000;
	border-radius: 10px;
	cursor: pointer;
}

button {
        background-color: palevioletred;
}
