body {
        background-color: black;
        color: palevioletred;
        text-align: center;
}

button {
        background-color: palevioletred;
        margin: 1rem;
        width: 10rem;
        padding: .4rem;
        border-radius: 20px;
        font-weight: bold;
}