body {
        background-color: black;
        color: palevioletred;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        
}

#texte {
        display: flex;
        flex-direction: column;
        align-items: center;
}

button {
        background-color: palevioletred;
        margin: 1rem;
        width: 10rem;
        padding: .4rem;
        border-radius: 20px;
        font-weight: bold;
}

.hidden {
        display: none;
}